@using Portfolio.Model.Data.Interface;
@using Portfolio.Model.Data;
@inject IPortfolioApi _api;

<section class="section-padding" id="Works">
    <div class="box row">
        <NavIndicator Text="EXPÉRIENCES" Ico="Briefcase" />

        <p class="title important-text mt-5 mb-4">Mes Expériences <span class="colored-text">Professionnelles</span></p>

        <div class="timeline">
            @foreach (var e in experiences)
            {
                <TimelineComponent Element="@e" />
            }
        </div>
    </div>
</section>

@code {
    protected List<Experience> experiences = new List<Experience>();

    protected override async Task OnInitializedAsync()
    {
        experiences = await _api.GetExperiencesAsync()?? new List<Experience>();
        experiences = experiences.OrderByDescending(item => item.CreationDate).ToList();
        await base.OnInitializedAsync();
    }
}

