@using Portfolio.Model.Data.Interface;
@using Portfolio.Model.Data;
@inject IPortfolioApi _api;

<section class="section-padding" id="Formation">
    <div class="box row">
        <NavIndicator Text="FORMATIONS" Ico="Mortarboard" />

        <p class="title important-text mt-5 mb-4">Mes <span class="colored-text">Formations</span></p>

        <div class="timeline">
            @foreach (var f in formations)
            {
                <TimelineComponent Element="@f" />
            }
        </div>
    </div>
</section>


@code{
    protected List<Formation> formations = new List<Formation>();

    protected override async Task OnInitializedAsync()
    {
        formations = await _api.GetFormationsAsync()?? new List<Formation>();
        formations = formations.OrderByDescending(item => item.CreationDate).ToList();
        await base.OnInitializedAsync();
    }
}
