@using Portfolio.Data.Models.Interface
@using Portfolio.Data.Models
@inject IPortfolioApi _api

<section class="section-padding" id="Formation">
    <div class="box row">
        <NavIndicator Text="FORMATIONS" Ico="Mortarboard" />

        <p class="title important-text mt-5 mb-4">Mes <span class="colored-text">Formations</span></p>

        <div class="timeline">
            @foreach (var f in formations)
            {
                <TimelineComponent Element="@f" />
            }
        </div>
    </div>
</section>


@code{
    protected List<Formation> formations = new List<Formation>();

    protected override async Task OnInitializedAsync()
    {
        var formationsNonSorted = await _api.GetFormationsAsync();
        if(formationsNonSorted != null)
        {
            formations = formationsNonSorted.OrderByDescending(f => f.Id).ToList();
        }
        else
        {
            formations = new List<Formation>();
        }
        await base.OnInitializedAsync();
    }
}
