<section class="section-padding" id="Skills">
    <div class="box row">
        <NavIndicator Text="COMPÉTENCES" Ico="CodeSlash" />

        <p class="title important-text mt-5 mb-4">Mes <span class="colored-text">Compétences</span></p>

        <div>
            <p class="important-text">Langages de Programmation</p>
            <div class="d-flex flex-wrap">
                <SkillsBadges Title="C#" Path="/../img/ico/csharp.svg" />
                <SkillsBadges Title="Python" Path="/../img/ico/python.svg" />
                <SkillsBadges Title="Java" Path="/../img/ico/java.svg" />
                <SkillsBadges Title="C++" Path="/../img/ico/cpp.svg" />
                <SkillsBadges Title="HTML" Path="/../img/ico/html.svg" />
                <SkillsBadges Title="CSS" Path="/../img/ico/css.svg" />
                <SkillsBadges Title="JavaScript" Path="/../img/ico/javascript.svg" />
                <SkillsBadges Title="SQL" Path="/../img/ico/sql.svg" />
            </div>
        </div>

        <div class="mt-5">
            <p class="important-text">FrameWorks</p>
            <div class="d-flex flex-wrap">
                <SkillsBadges Title="Blazor" Path="/../img/ico/blazor.svg" />
                <SkillsBadges Title="Django" Path="/../img/ico/django.svg" />
                <SkillsBadges Title="Bootstrap" Path="/../img/ico/bootstrap.svg" />
            </div>
        </div>

        <div class="mt-5">
            <p class="important-text">Outils et Logiciels</p>
            <div class="d-flex flex-wrap">
                <SkillsBadges Title="VSCode" Path="/../img/ico/vsc.svg" />
                <SkillsBadges Title="VS" Path="/../img/ico/vs.svg" />
                <SkillsBadges Title="Office" Path="/../img/ico/office.svg" />
                <SkillsBadges Title="GitHub" Path="/../img/ico/github.svg" />
                <SkillsBadges Title="SQL Server" Path="/../img/ico/sql-server.svg" />
            </div>
        </div>

    </div>
</section>