<section class="section-padding" id="SoftSkills">
    <div class="box row">
        <NavIndicator Text="SOFT SKILLS" Ico="People" />

        <p class="title important-text mt-5 mb-4">Mes <span class="colored-text">Soft Skills</span></p>

        <SoftSkillsProgress Title="Autonomie" Value="95" />
        <SoftSkillsProgress Title="Adaptabilité" Value="90" />
        <SoftSkillsProgress Title="Communication" Value="100" />
        <SoftSkillsProgress Title="Travail d'équipe" Value="100" />
        <SoftSkillsProgress Title="Enthousiasme et Curiosité" Value="100" />
        <SoftSkillsProgress Title="Rigueur" Value="100" />
        <SoftSkillsProgress Title="Leadership" Value="85" />
        <SoftSkillsProgress Title="Pédagogie" Value="75" />

    </div>
</section>

@code{

}