@media screen and (min-width: 768px) {
    .sidebar{
        padding: 3rem 5rem 0 5rem;
    }  
}

@media screen and (min-width: 992px) {
    .navsidebar{
        position: fixed;
        right: 0%;
        top: 50%;
        padding: 0 0 0 0rem;
        transform: translate(0%, -50%);
        width: fit-content;
    }

    .sidebar{
        position: fixed;
        left: 0%;
        top: 50%;
        padding: 0 0 0 1.5rem;
        transform: translate(0%, -50%);
    }
}

.sidebar, .navsidebar {
    height: fit-content;
}

.page {
    /*    background-color: rgb(24, 25, 26);
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px*/
    background: rgb(24, 25, 26);
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient( -90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap) ), linear-gradient( 0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap) );
    background-size: var(--gap) var(--gap);
}