@media screen and (min-width: 1px){
    #MyInfo-container{
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .profile-picture img {
        width: 200px;
    }
}

@media screen and (min-width: 576px){
    #MyInfo-container{
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .profile-picture img {
        width: 200px;
    }
}

@media screen and (min-width: 768px){
    #MyInfo-container{
        width: fit-content;
        margin-top: 0;
    }

    .profile-picture img {
        width: 150px;
    }
}

@media screen and (max-width: 991px){
    #MyInfo {
        width: 100%;
    } 
}

@media screen and (min-width: 992px) {
    .profile-picture img {
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .profile-picture img {
        width: 150px;
    }
}

#MyInfo {
    height: 100%;
}

.profile-picture img {
    border-radius: 50%;
    border: 5px solid rgb(47, 47, 47);
    aspect-ratio: 1/1;
    object-fit: cover;
}

.skills-box {
    border-radius: 20px;
    background-color: rgb(45, 46, 47);
    width: 100%;
}

.info {
    width: 100%;
    border-top: 1px solid #2d2e2f;
}

.info > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align{
    text-align: center;
}