<footer class="py-4">
    <div class="d-flex justify-content-center">
        <p class="footer-copyright align-self-center">© 2024 - Marc Proux |</p>
        <div>
            <a href="https://www.linkedin.com/in/marc-proux-b25b851ab/" target="_blank" rel="noopener noreferrer" class="align-self-center">
                <Icon Name="IconName.Linkedin" Size="IconSize.x4" Class="footer-icon"/>
            </a>
            <a href="https://github.com/Marc-Proux" target="_blank" rel="noopener noreferrer" class="align-self-center">
                <Icon Name="IconName.Github" Size="IconSize.x4" Class="footer-icon"/>
            </a>
        </div>
    </div>
</footer>